{% extends 'base.html' %}

{% block content %}

    <div class="content">
        <h1>Productos</h1>

        <table>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
            {% for product in object_list %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="/">Borrar</a>
                        <a href="{{ product.get_absolute_url }}">Actualizar</a>
                        <!-- <a href="/product/{{ product.id }}">Actualizar</a> -->
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
